@CHARSET "UTF-8";
.backgroundQuest{
	background-color :  rgba(255,255,255,0.8);
	color : #000;
}
.backgroundResultat{
	background-color :  rgba(255,255,255,0.5);
	color : #000;
	border : solid;
	border-width: 2px 2px;
	border-color : #8c9597;
	margin: 0.5% 0;
}
.container-propositon{
	width : 1000px;
	background-color :  rgba(255,255,255,0.3);
}
#range-price{
	display: inline;
	width:auto;
}

.alerte{
	color:#EE0404;
	
}